<h1>راهنمای سیستم</h1>
        <ul class="nav pull-right">
<div align="right">
<p>برای ایجاد نام کاربری جدید میتوانید از دکمه "نام کاربری جدید" استفاده کنید</p>
<p>این نرم افزار برای ثبت پرونده الکترونیکی بیماران ایجاد شده است</p>
<p>برای ثبت یک بیمار جدید می توانید از منو بالای هر صفحه گزینه "ثبت بیمار جدید" را انتخاب کنید</p>
<p>برای ثبت اطلاعات بالینی بیمار میتوانید از گزینه "مرور سیستم های بالینی بیمار" استفاده کنید</p>
<p>برای ورود اطلاعات سیستم های مختلف بیمار می توانید از منو ورود اطلاعات بالینی بیمار نیز اطلاعات هر بخش را وارد کنید</p>
<p>پزشک می تواند مشخصات کاربری خود را از گزینه "درباره پزشک" دیده و یا تغییر دهد</p>
<p>لیست بیماران مربوط به هر پزشک در "پروفایل" پزشک قابل مشاهده است</p>
<p>امکان تغییر رمز عبور پزشک در بخش "تنظیمات" وجود دارد</p>

</div>
<ul>