<html>
<head ,class: "wall">
	        <ul class="nav pull-right">

  <%= link_to "ایجاد نام کاربری جدید", signup_path, class: "btn btn-large " %>    

</ul>
</head>

<body>
<h1>سیستم پرونده الکترونیک سلامت </h1>
  <h2>
    
<%= image_tag("wall.jpg")%>
        <ul class="nav pull-right">
</ul>
</h2>
</body>

</html>
