<% provide(:title, @skin.patientID) %>


<div class="row">
  <aside class="span4">
    <section>
      <h1>
       Redness: <%= @skin.redness %>
        <%= render @skin.patientID%>

      </h1>
    </section>
  </aside>
</div>


