<% provide(:title, @patient) %>
    <section>
      <h1>
       <p>  Name of patient: </p> <p>       <%= @patient.name %></p>
       <p>  Family of patient: </p> <p>            <%= @patient.family %></p>
       <p> patinet number:  </p> <p>              <%= @patient.id %></p>

      </h1>
    </section>
    