<% provide(:title, 'muscleJointsBoneSystem') %>


<div class="row">
  <aside class="span4">
    <section>
      <h1>
       Redness: <%= @muscleJointsBoneSystem.numbness %>

      </h1>
    </section>
  </aside>
</div>


